
.docContainer {
    display: flex;
}



.navbar li a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from parent */
  }

  .docsButton.active a {
    font-weight: bold;
  }

ul {
    list-style-type: none;
  }
  
  .docsIcon {
    margin-right: 0.5rem; /* Adjust the spacing between the icon and the text */
    vertical-align: middle;
  }

.navHolder {
    flex: 25%;
    background-color: white;
    height: 100%;
    position: absolute;
    position: sticky;
    top: 75px; 
}

.navbar {
    padding-top: 0;
    padding-left: 30%;
    text-align: left;
    background-color: white;
    position: absolute;
    width: 100%;
    overflow: hidden;
    
}

.headerNav {
    position: sticky;
    top: 75px;
    background-color: #f1f1f1;
    z-index: 100;
    
  }
  
  .content {
    flex: 70%;
    margin-top: 60px;
    padding-left: 5%;
    border-left: 2.5px solid;
    border-image: repeating-linear-gradient(to top,#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C 20%) 1;
}
  
.content-section {
    margin-top: -120px;
    padding-top: 75px;
    height: 400px;
}

html {
    scroll-behavior: smooth;
}


[data-theme="dark"] .navbar {
    background-color: #121212;
    color: #ffffff;
  }

[data-theme="dark"] .navHolder {
    flex: 25%;
    background-color: #121212;
}

@media (max-width: 1068px) {

    header {
        width: 0;
        display: none
    }
    .navHolder {
        flex: 0%;
    }
    .content {
        flex: 100%;
        margin-top: 60px;
    }
}

@media (max-height: 520px) {

    header {
        width: 0;
        display: none
    }
    .navHolder {
        flex: 0%;
    }
    .content {
        flex: 100%;
        margin-top: 60px;
    }

}


/*  Media Query Height: 520px*/