.EpitaphContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 2.5%;
  font-size: 1vw;
  padding-top: 5%;
  font-family: Papyrus;
}

.EpitaphContainer span {
  display: block;
}

.scrambled {
  color: red; /* Set the desired color for scrambled letters */
  display: inline-block;
}

  @media (max-width: 1440px) {
    .EpitaphContainer{
        font-size: 1.2vw;
    }
  }
  @media (max-width: 768px) {
    .EpitaphContainer{
        font-size: 1.9vw;
    }
  }

    @media (max-width: 600px) {
      .EpitaphContainer{
          font-size: 2.05vw;
      }
  }


