.page-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
::selection {
  background: lavender;
}
.IntroDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  height: 600px;

}

.h3container {
  margin-top: 50px;
}

.FeatureSection {
  margin-top: 50px; /* Increase the top margin to create space */
  margin-left: 3%;
}

.UminekoName {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0; /* Adjust as needed */
  animation: typing 4s steps(40, end) forwards;
  background: linear-gradient(to right,#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; border-right-width: 0; }
}

.featureHeader {
  display: flex; 
  align-items: center;
  padding-bottom: 20px;
}

.featureHeader h1 {
  margin-left: 10px; /* Adjust the margin as needed */
}

.featureHeader {
  background: linear-gradient(to bottom,#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.featuresGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for larger screens */
  grid-template-rows: repeat(2, 1fr); /* 2 rows for larger screens */
  grid-gap: 75px; /* Adjust the gap between grid items */
}

.gridItem {
  padding: 20px;
  width: 90%;
  text-align: center;
}

.inverted-icon {
  color: white;
  background-color: black;
  border-radius: 50%;
}
.gridItem {
  position: relative;
  overflow: hidden;
}

.imageReal {
  /*border: solid 3px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridItem:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 3px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right,#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gridItem:hover:before {
  opacity: 1;
}
.canvasHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0,0,0,.05);
  margin-top: 7.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: solid;
  border-width: 0.25px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: rgb(0,0,0,.1);

}


[data-theme="dark"] .canvasHolder {
  background-color: #191919;
  border-color: #444444;
}

@media (max-width: 1068px) {

  .IntroDiv {
    height: 400px;
  }

  .canvasHolder {
    width: 100vw;
  }
  .FeatureSection {
    margin-top: 50px; /* Increase the top margin to create space */
    margin-left: 0px;
  }
  .page-container {
    align-items: center;
  }
  .gridItem {
    width: 40vw;
  }
  /* Medium size screens */
  .featuresGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    grid-template-rows: repeat(3, 1fr); /* 3 rows for medium screens */
  }
  .FeatureSection {
    margin-left: 0px;
  }
  .featureHeader {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .IntroDiv {
    font-size: 1rem;
  }
  .UminekoName {
    font-size: 2rem;
  }
  .gridItem {
    width: 55vw;
  }
  .page-container {
    align-items: center;
  }
  /* Smaller screens */
  .featuresGrid {
    grid-template-columns: 1fr; /* 1 column for smaller screens */
    grid-template-rows: repeat(6, 1fr); /* 6 rows for smaller screens */
  }
  .FeatureSection {
    margin-left: 0px;
  }
  .IntroDiv {
    height: 300px;
  }
}

@media (max-width: 660px) {
  .IntroDiv {
    font-size: 0.75rem;
  }
  .UminekoName {
    font-size: 1.5rem;
  }
  .IntroDiv {
    height: 200px;
  }
  .canvasHolder {
    margin-top: 25%;
  }
}

@media (min-width: 2000px) {
  .IntroDiv {
    font-size: 1.5rem;
  }
  .UminekoName {
    font-size: 4rem;
  }
}




