.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding-left: 5%;
  }
  
.card-container {
    width: 20vw;
    height: 100%;
    position: relative;
}

.cardImage {
    position: relative;
    border: solid black 0px;
}

.stsHeader {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 50px;
}


  @media (max-width: 1068px) {

    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        padding-left: 5%;
      }
      .card-container {
        width: 40vw;
      }
  }

  @media (max-width: 768px) {

    .card-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        padding-left: 10%;
      }
      .card-container {
        width: 80vw;
      }
    
  }
  
  
  