.carouselContainer {
    min-width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    height: 95%;
    width: 70vw;
}
.songInfo {
    margin-top: -2.5%;
    padding-bottom: 5%;
}
.showcaseHeader {
    text-align: center;
    padding-bottom: 50px;
}



iframe {
    height: 40vw;
    width: 20vw;


}

.graphicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphic-image {
    height: 50vw;
    width: 50vw;
    min-height: 300px; 
}

@media (max-width: 768px) {
    .carousel {
        width: 99vw;
    }
    .songInfo {
        margin-top: -5%;
        font-size: 0.45rem;
    }
}

@media (max-width: 550px) {
    .graphic-image {
        width: 90vw;
    }
}

@media (min-width: 1440px) {
    .songInfo {
        font-size: 1rem;
        margin-top: -1.5%;
    }
}
